node_modules
dist
# Security and Access Keys
src/config/access_keys/
.env
.idea
*.png
*.jpg
*.jpeg
*.pdf
*.xlsx
!assets/*.png
!src/assets/*.png
!src/assets/*.jpg
!src/assets/*.jpeg
residents/
!src/assets/logo_premium.png
