only-built-dependencies[]=sharp
only-built-dependencies[]=esbuild
only-built-dependencies[]=core-js
supported-architectures.os[]=win32
supported-architectures.os[]=darwin
supported-architectures.os[]=linux
supported-architectures.cpu[]=x64
supported-architectures.cpu[]=arm64
audit-config.min-release-age=0
